/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 100vw;
}

.content{
    width: 80%;
    margin: 0 auto;
}

.spaced{
    margin: 40px 0;
}

.flex{
    display: flex;
}

.justify{
    justify-content: space-between;
}

.error{
    border: 1px solid crimson !important;
    color: crimson;
}